
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Product Details page Table */

td {
	font-size: 1rem;
	padding: 0.2rem 0rem;
}

td p {
	color: rgb(120, 116, 116);
	margin-left: 1rem;
}

.btnIndigo {
	@apply border px-5 py-1  text-indigo-700 rounded-full border-indigo-700 hover:bg-indigo-200
}



.btnRed {
	@apply border px-5 py-1 text-red-500 rounded-full border-red-500 hover:bg-red-100
}

.changeColor {
	@apply bg-indigo-100 text-indigo-700
}
.changeColorOnHover:hover{
	@apply bg-indigo-100 text-indigo-700
}


.filter {
	@apply bg-indigo-100 text-indigo-800 px-3 py-1 rounded-full
}